<!-- Page title -->
<div id="pagetitle">
  <div class="wrapper">
    <h1>Service &rarr; <span>Edit</span></h1>
    <!-- Quick search box -->
    <!-- <form action="" method="get"><input class="" type="text" id="q" name="q" /></form> -->
  </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
    <div id="page">
      <!-- Wrapper -->
      <div class="wrapper">
        <!-- Left column/section -->
        <section class="column width6 first">

          <p>
          <div class="box box-info">All fields are required</div>
          </p>

          <% form_for(@service) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => "4", :cols => "50" %>
  </p>
  <p>
<%= f.submit 'Update', :class => "btn" %> or <a href="/services">Cancel</a>
  </p>
<% end %>

      <p>&nbsp;</p>



    </section>
    <!-- End of Left column/section -->

    <%= render :partial => "/common/right_column"  %>

  </div>
  <!-- End of Wrapper -->
  </div>
  <!-- End of Page content -->