<!-- Page title -->
<div id="pagetitle">
  <div class="wrapper">
    <h1>Service &rarr; <span>List</span></h1>
    <!-- Quick search box -->
    <!-- <form action="" method="get"><input class="" type="text" id="q" name="q" /></form> -->
  </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first">

            <h3>Services</h3>

            <% if flash[:notice] -%>

         <p><div class="box box-success closeable"><%= flash[:notice] %></div></p>

        <% end %>

            <table class="stylized full" cellpadding="0" cellspacing="0" border="0">
              <thead>
                <tr>
    <th>Name</th>
    <th>Description</th>
                  <th colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @services.each do |service| %>
                  <tr>
    <td><%=h service.name %></td>
    <td><%=h service.description %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to image_tag("/img/delete.png", :border=>0), service, :confirm => 'Are you sure?', :method => :delete %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

<%= button_to 'New service', new_service_path, :class => "btn" %>

    <p>&nbsp;</p>

          </section>
          <!-- End of Left column/section -->

         <%= render :partial => "/common/right_column"  %>

        </div>
        <!-- End of Wrapper -->
      </div>
      <!-- End of Page content -->