<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>StatusDashboard Login</title>
    <%= render :partial => "/common/login_includes" %>
    
  </head>
  <body>
   <%= render :partial => "/common/login_header" %>
  <!-- Page title -->
  <div id="pagetitle">
    <div class="wrapper-login"></div>
  </div>
  <!-- End of Page title -->

  <!-- Page content -->
  <div id="page">
    <!-- Wrapper -->
    <div class="wrapper-login">
      <!-- Login form -->
      <section class="full">

        <h3>Login</h3>



        <% if flash[:warning] -%>
          <div class="box box-error"><%= flash[:warning] %></div>
          <% end %>
        <% if flash[:success] -%>
          <div class="box box-success"><%= flash[:success] %></div>
          <% end %>
        <% if !flash[:success] && !flash[:warning] %>
          <div class="box box-info">Login below and we'll send you right along.</div>
         <% end %>


        <% form_tag do %>
          <p>
            <label for="email">Email:</label>
            <%= text_field_tag :email, params[:email], :class => "full" %>
          </p>
          <p>
            <label for="password">Password:</label>
            <%= password_field_tag :password, params[:password], :class => "full" %>
          </p>

          <!-- <p>
            <input type="checkbox" id="remember" class="" value="1" name="remember"/>
            <label class="choice" for="remember">Remember me?</label>
          </p> TODO add remember me logic to login -->

          <p>
            <%= submit_tag "Login", :class => "btn btn-green big" %> &nbsp; <a href="javascript: //;" onclick="$('#emailform').slideDown(); return false;">Forgot password?</a>
          </p>
          <div class="clear">&nbsp;</div>

          <% end %>

          <% form_tag "/admin/forgot_password", :id => "emailform", :style => "display:none" do %>

            <div class="box">
              <p id="emailinput">
                <label for="email">Email:</label><br/>
                <%= text_field_tag :email, params[:email], :class => "full" %>
              </p>
              <p>
                <%= submit_tag "Send", :class => "btn" %>
              </p>
            </div>

          <% end %>

        </section>
        <!-- End of login form -->

      </div>
      <!-- End of Wrapper -->
    </div>
    <!-- End of Page content -->

   <%= render :partial => "/common/login_footer" %>

    <!-- User interface javascript load -->
    
  </body>
  </html>
