<% @page_name = 'Admin' %>
<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <!-- End of Meta -->

    <!-- Page title -->
    <title>Your Account Settings</title>
    <!-- End of Page title -->

    <%= render :partial => "/common/includes"  %>
    <script type="text/javascript">
      $(document).ready(function(){
        /* setup navigation, content boxes, etc... */
        Administry.setup();
      });
    </script>

  </head>
  <body>

    <%= render :partial => "/common/header"  %>

    <!-- Page title -->
    <div id="pagetitle">
      <div class="wrapper">
        <h1>Your Account</h1>
        <!-- Quick search box -->
       <!-- <form action="" method="get"><input class="" type="text" id="q" name="q" /></form> -->
      </div>
    </div>
    <!-- End of Page title -->

    <!-- Page content -->
    <div id="page">
      <!-- Wrapper -->
      <div class="wrapper">
        <!-- Left column/section -->
        <section class="column width6 first">

          <h3> </h3>
          <% if flash[:success] -%>
          <div class="box box-success"><%= flash[:success] %></div>
          <% end %>
          <% if flash[:error] -%>
          <div class="box box-error"><%= flash[:error] %></div>
          <% end %>

         <% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :contact_firstname %><br />
    <%= f.text_field :contact_firstname %>
  </p>
  <p>
    <%= f.label :contact_lastname %><br />
    <%= f.text_field :contact_lastname %>
  </p>
  <p>
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email %>
  </p>
  
  <p>
    <%= f.label :plan %><br />
    <%= f.select :plan, @products.map { |p| [p.name, p.handle]}, :prompt => "Select a plan"  %>
  </p>

  <p>
  
          <%= f.submit 'Update', :class => "btn" %>
          
          or <a href="#" onclick="history.back(); return false;">Cancel</a>
        </p>
      <% end %>
        <hr>
        <p>
        Need to Cancel Your Account?
        We'll be sorry to see you go. Once your account is cancelled, all your project information will be immediately and permanently deleted. If you have a paying account you won't be charged again after your official cancellation date. Please familiarize yourself with our <a href="/refund.html">refund</a> policy.
        <%= link_to 'Please cancel my account', "/admin/cancel", :confirm => 'Are you sure?', :method => :cancel %>
        </p>

      <p>&nbsp;</p>



    </section>
    <!-- End of Left column/section -->

    <%= render :partial => "/common/right_column"  %>

  </div>
  <!-- End of Wrapper -->
  </div>
  <!-- End of Page content -->

  <%= render :partial => "/common/footer"  %>


  </body>
  </html>