<% @page_name = 'Admin' %>
<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <!-- End of Meta -->

    <!-- Page title -->
    <title><fmt:message key="common.label.title" /></title>
    <!-- End of Page title -->

    <%= render :partial => "/common/includes"  %>
    <script type="text/javascript">
      $(document).ready(function(){
        /* setup navigation, content boxes, etc... */
        Administry.setup();
      });
    </script>

  </head>
  <body>

    <%= render :partial => "/common/header"  %>

    <!-- Page title -->
    <div id="pagetitle">
      <div class="wrapper">
        <h1>Account &rarr; <span>Edit</span></h1>
        <!-- Quick search box -->
        <form action="" method="get"><input class="" type="text" id="q" name="q" /></form>
      </div>
    </div>
    <!-- End of Page title -->

    <!-- Page content -->
    <div id="page">
      <!-- Wrapper -->
      <div class="wrapper">
        <!-- Left column/section -->
        <section class="column width6 first">

          <h3> </h3>
          <div class="box box-info">All fields are required</div>

          <% form_for(@user) do |f| %>
            <%= f.error_messages %>

            <p>
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name %>
            </p>
            <p>
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name %>
            </p>
            <p>
              <%= f.label :email %><br />
              <%= f.text_field :email %>
            </p>

        <p>
          <%= f.submit 'Update', :class => "btn" %>
          <input class="btn" id="resetButton" type="button" value='Reset Password' onclick="location.href='/realtimeref/requestReset'" />
          or <a href="#" onclick="history.back(); return false;">Cancel</a>
        </p>
      <% end %>

      <p>&nbsp;</p>



    </section>
    <!-- End of Left column/section -->

    <!-- Right column/section -->
    <aside class="column width2">
      <div id="rightmenu">
        <header>
          <h3>You might also want to check out...</h3>
        </header>
        <dl class="first">
          <dt><img width="16" height="16" alt="Basic styles" src="/realtimeref/img/style.png"></dt>
          <dd><a href="styles.html">Basic styles</a></dd>
          <dd class="last">Basic elements and styles</dd>

          <dt><img width="16" height="16" alt="Form validation" src="/realtimeref/img/book.png"></dt>
          <dd><a href="http://docs.jquery.com/Plugins/Validation">Form validation</a></dd>
          <dd class="last">jQuery form validation documentation</dd>
        </dl>
      </div>
      <div class="content-box">
        <header>
          <h3>Quick info</h3>
        </header>
        <section>
          <q>A form is an area that can contain form elements.
                                                          Form elements are elements that allow the user to enter information (like text fields, textarea fields, drop-down menus, radio buttons, checkboxes, etc.) in a form.
                                                          A form is defined with the &lt;form&gt; tag.
            <cite>w3schools.com</cite></q>
        </section>
      </div>
    </aside>
    <!-- End of Right column/section -->

  </div>
  <!-- End of Wrapper -->
  </div>
  <!-- End of Page content -->

  <%= render :partial => "/common/footer"  %>


  </body>
  </html>