<% @page_name = 'Admin' %>
<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <!-- End of Meta -->

    <!-- Page title -->
    <title>Your Account Settings</title>
    <!-- End of Page title -->

    <%= render :partial => "/common/includes"  %>
    <script type="text/javascript">
      $(document).ready(function(){
        /* setup navigation, content boxes, etc... */
        Administry.setup();
      });
    </script>

  </head>
  <body>

    <%= render :partial => "/common/header"  %>

    <!-- Page title -->
    <div id="pagetitle">
      <div class="wrapper">
        <h1>Reset Password</h1>
        <!-- Quick search box -->
       <!-- <form action="" method="get"><input class="" type="text" id="q" name="q" /></form> -->
      </div>
    </div>
    <!-- End of Page title -->

    <!-- Page content -->
    <div id="page">
      <!-- Wrapper -->
      <div class="wrapper">
        <!-- Left column/section -->
        <section class="column width6 first">

          <h3> </h3>
          <% if flash[:error] -%>
          <div class="box box-error"><%= flash[:error] %></div>
          <% end %>

          <% form_tag "/admin/reset_password"  do %>
            

            <p>
              <label for="password">Password:</label><br/>
              <%= password_field_tag :password, params[:password] %>
            </p>
            <p>
              <label for="password_confirmation">Re-type Password:</label><br/>
              <%= password_field_tag :password_confirmation, params[:password_confirmation] %>
            </p>
            

        <p>
          <%= submit_tag "Update", :class => "btn" %>
          
          or <a href="#" onclick="history.back(); return false;">Cancel</a>
        </p>
      <% end %>

      <p>&nbsp;</p>



    </section>
    <!-- End of Left column/section -->

    <%= render :partial => "/common/right_column"  %>

  </div>
  <!-- End of Wrapper -->
  </div>
  <!-- End of Page content -->

  <%= render :partial => "/common/footer"  %>


  </body>
  </html>