<!-- Page title -->
<div id="pagetitle">
  <div class="wrapper">
    <h1>User &rarr; <span>List</span></h1>
    <!-- Quick search box -->
    <!-- <form action="" method="get"><input class="" type="text" id="q" name="q" /></form> -->
  </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first">

      <h3>Users</h3>

      <% if flash[:notice] -%>

        <p><div class="box box-success closeable"><%= flash[:notice] %></div></p>
        <% flash[:notice] = nil %>

      <% end %>
    

      <table class="stylized full" cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%=h user.first_name %></td>
              <td><%=h user.last_name %></td>
              <td><%=h user.email %></td>
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <%= button_to 'New user', new_user_path, :class => "btn" %>

    <p>&nbsp;</p>

    </section>
    <!-- End of Left column/section -->

    <%= render :partial => "/common/right_column"  %>

  </div>
  <!-- End of Wrapper -->
</div>
<!-- End of Page content -->