<!-- Page title -->
<div id="pagetitle">
  <div class="wrapper">
    <h1>Event &rarr; <span>Add</span></h1>
    <!-- Quick search box -->
    <!-- <form action="" method="get"><input class="" type="text" id="q" name="q" /></form> -->
  </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
    <div id="page">
      <!-- Wrapper -->
      <div class="wrapper">
        <!-- Left column/section -->
        <section class="column width6 first">

          <p>
          <div class="box box-info">All fields are required.</div>
          </p>

          <% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :service_id %><br />
    <%= f.collection_select :service_id, Service.find_all_by_dashboard_id(session[:dashboard_id]), :id, :name, :prompt => true  %>
  </p>
  <p>
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.select :level, Event::LEVELS, :prompt => "Select a level"  %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message, :cols => "50", :rows => "3" %>
  </p>
  <p>
    <%= f.submit "Add Event", :class => "btn" %> or <a href="/home">Cancel</a>
  </p>
<% end %>


      <p>&nbsp;</p>



    </section>
    <!-- End of Left column/section -->

    <%= render :partial => "/common/right_column"  %>

  </div>
  <!-- End of Wrapper -->
  </div>
  <!-- End of Page content -->