<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Event</title>

  </head>

  <body>
    <div id="modal">
      <h1>Event Details</h1>
      
        <hr />

        <% @events.each do |event| %>
          <table>
            <tr><th rowspan="3" valign="center"><img src="/img/table/<%= event.level %>.png"/> &nbsp;&nbsp;</th>
              <td><strong>Time: </strong><%=  event.timestamp %> <%if @edit %>   [<a href="/events/<%= event.id%>/edit">Edit</a>] &nbsp; [<%= link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete %>]<% end %> </tr>
            <td><strong>Level: </strong><%= Event::LEVELS[event.level][0] %></td>
            <tr><td><strong>Message: </strong><%= event.message %></td></tr>
          </table>
          <hr/>
        <% end %>



    </div> <!-- End #messages -->

  </body>
</html>