<p>
  <b>Timestamp:</b>
  <%=h @event.timestamp %>
</p>

<p>
  <b>Level:</b>
  <%=h @event.level %>
</p>

<p>
  <b>Message:</b>
  <%=h @event.message %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>